attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
coverage==7.10.4
cryptography==45.0.6
docutils==0.22
filelock==3.19.1
h2==4.2.0
HTMLParser==0.0.2
ipython==9.4.0
ipywidgets==8.1.7
js==1.0
jsonschema==4.25.0
keyring==25.6.0
langchain==0.3.27
langchain_community==0.3.27
langchain_core==0.3.74
langchain_ollama==0.3.6
langchain_text_splitters==0.3.9
Pillow==11.3.0
protobuf==6.32.0
pydantic==2.11.7
pyOpenSSL==25.1.0
pythran==0.18.0
redis==6.4.0
runtests==0.0.28
setuptools==80.9.0
simplejson==3.20.1
zstandard==0.24.0
